@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  background-color: rgb(128, 158, 202);
  margin: 0;
  padding: 0;
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  background-size: cover;
}

header {
  background-color: rgb(245, 120, 70);
  height: 4rem;
  width: 100%;

  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

header div {
  margin-left: 3vw;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: azure;
}

header div span {
  margin-right: 1rem;
}

.weather-logo {
  font-size: 40px;
}

.user-image,
a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 3vw;
}

.search {
  border: none;
  background: rgb(0 0 0 / 0%);
  margin: 2px 5px;
}

form input {
  border: none;
  background: rgb(0 0 0 / 0%);
  border-bottom: 4px dashed rgb(14, 12, 12);
  height: 25px;
  font-size: 20px;
}

form input:focus {
  outline: none;
}

form input::placeholder {
  color: black;
  font-size: 1rem;
}
